{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "trailingComma": "es5"
}
