@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply dark:bg-gray-900;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nprogress {
  @apply pointer-events-none z-50;
}

#nprogress .bar {
  @apply bg-blue-500 fixed z-50 top-0 left-0 w-full h-1;
}
